* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    height: 100%;
    background: linear-gradient(150deg, rgba(27, 133, 255, 0.6), rgba(255, 15, 255, 0.6), rgba(245, 3, 144, 0.6)), url(../img/rozovye-tiulpany-5.webp);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    animation: opacity 8s 1s backwards;
    font-size: 80px;
    font-family: 'Shantell Sans', cursive;
}

.main {
    width: 500px;
    position: relative;
}

.main__img-wrap {
    animation: opacity 11s backwards;
}

.main__img {
}

.main__text {
    font-family: 'Bad Script', cursive;
    top: 475px;
    left: 200px;
    position: absolute;
    font-size: 33px;
    color: crimson; 
    animation: zoom 7s backwards;
}

.second__text {
    font-family: 'Bad Script', cursive;
    top: 425px;
    left: 183px;
    position: absolute;
    font-size: 33px;
    color: crimson;
    animation: zoom 7s backwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}